<footer class="footer bg-footer clearfix">
    <div class="wrap-body">
        <div class="container body-inner">
            <div class="row menu-bottom">
                <div class="col-12 col-lg-4 item-col col-primary">
                  <div class="col-inner">
                      <div class="content-col">
                        <p class="mb-3"><img width="119" height="40" src="images/logo_footer.svg" alt="" class="logo scaledown"></p>
                        <div class="social">
                          <p class="mb-1"> <span class="me-2">Kết nối với chúng tôi:</span>
                              <a href="#" title="" class="facebook">
                                  <i class="fab fa-facebook-f" aria-hidden="true"></i>
                              </a>
                              <a href="#" title="" class="linkedin">
                                  <i class="fab fa-linkedin"></i>
                              </a>
                              <a href="#" title="" class="linkedin">
                                  <i class="fab fa-twitter"></i>
                              </a>
                              <a href="#" title="" class="linkedin">
                                  <i class="fab fa-instagram"></i>
                              </a>
                            </p>
                        </div>

                        <div class="copyright">
                          <p class="mb-2"><span>© Copyright 2022 VnExpress.net </span> | <span>All rights reserved</span></p>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-12 col-lg-3 item-col col-middle"></div>
                <div class="col-12 col-lg-5 item-col col-secondary">
                  <div class="col-inner">
                      <p><i class="fas fa-map-marker-alt"></i>  Địa chỉ: tầng 5, Tòa nhà FPT, 17 phố Duy Tân, Cầu Giấy, Hà Nội</p>
                      <p><i class="fas fa-phone"></i>  Điện thoại: 0247 300 9999 - Ext: 4825</p>
                      <p><i class="fas fa-mobile"></i>  Hotline: 052 2910 686 ( Ms, Trang)</p>
                      <p><i class="fas fa-envelope"></i>  digitalexpo@vnexpress.net</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<div class="scroll-to-top">
  <a href="javascript:;" id="to_top"></a>
</div>