
  <footer class="box clearfix">
    <div class="box footer-mobile">
      <ul class="box list-item">

        <li class="box item">
          <a href="#" title="" class="icon-img">
            <span class="fal fa-box-check"></span>
          </a>
          <a href="#" title="" class="box title-item"><pre>Sản phẩm</pre> <pre>chính hãng</pre></a>
        </li>
        <li class="box item">
          <a href="#" title="" class="icon-img">
            <span class="fal fa-credit-card"></span>
          </a>
          <a href="#" title="" class="box title-item"><pre>Thanh toán</pre> <pre>tiện lợi</pre></a>
        </li>
        <li class="box item">
          <a href="#" title="" class="icon-img">
            <span class="fal fa-shipping-fast"></span>
          </a>
          <a href="#" title="" class="box title-item"><pre>Giao hàng</pre> <pre>nhanh chóng</pre></a>
        </li>
        <li class="box item">
          <a href="#" title="" class="icon-img">
            <span class="fal fa-headset"></span>
          </a>
          <a href="#" title="" class="box title-item"><pre>Hỗ trợ 24/7</pre></a>
        </li>

      </ul>
    </div>
  </footer>

  <div class="group-action-control-bottom">
    <span class="btn-control btn-go-top">Top</span>
    <span class="btn-control btn-chat-messege"><i class="icon-messeger"></i></span>
  </div>