<footer class="footer bg-footer clearfix">
    <div class="wrap-body">
        <div class="container body-inner">
            <div class="row menu-bottom">
                <div class="col-12 col-lg-4 item-col col-primary">
                  <div class="col-inner">
                      <div class="content-col">
                        <p class="mb-3"><img width="119" height="40" src="images/logo_footer.svg" alt="VnExpress Digital Expo 2022" class="logo scaledown"></p>
                        <div class="footer-content__social hide-on-mobile  hide-on-tablet">
                          <div class="social">
                            <p class="mb-1">
                              <a class="footer-content__link" href="#" title="Trang trên twitter">
                                <i class="fab fa-twitter"></i>
                              </a>
                              <a class="footer-content__link" href="#" title="Trang trên facebook">
                                <i class="fab fa-facebook-f"></i>
                              </a>
                              <a class="footer-content__link" href="#" title="Trang trên instagram">
                                <i class="fab fa-instagram"></i>
                              </a>
                              <a class="footer-content__link" href="#" title="Trang trên youtube">
                                <i class="fab fa-youtube"></i>
                              </a>
                            </p>
                          </div>

                          <div class="copyright">
                            <p class="mb-2"><span>© Copyright 2022 VnExpress.net </span> | <span>All rights reserved</span></p>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-12 col-lg-3 item-col col-middle"></div>
                <div class="col-12 col-lg-5 item-col col-secondary">
                  <div class="col-inner">
                      <p class="footer-content__info"><i class="footer-content__icon fas fa-map-marker-alt"></i> Địa chỉ VP Hà Nội: tầng 5, Tòa nhà FPT, 17 phố Duy Tân, Cầu Giấy, Hà Nội</p>
                      <p class="footer-content__info"><i class="footer-content__icon fas fa-map-marker-alt"></i> Địa chỉ VP Hồ Chí Minh, Tòa nhà Exchange Tower, số 1 Nam Kỳ Khởi Nghĩa, P. Nguyễn Thái Bình, Quận 1, TP. Hồ Chí Minh</p>
                      <p class="footer-content__info"><i class="footer-content__icon fas fa-phone"></i>  Điện thoại: 0247 300 9999 (Ext: 4825)</p>
                      <p class="footer-content__info"><i class="footer-content__icon fas fa-mobile"></i>  Hotline: 052 2910 686 ( Ms. Trang)</p>
                      <p class="footer-content__info"><i class="footer-content__icon fas fa-envelope"></i>  digitalexpo@vnexpress.net</p>

                      <div class="footer-content__social hide-on-pc">
                        <div class="social">
                          <p class="mb-1">
                            <a class="footer-content__link" href="#" title="Trang trên twitter">
                              <i class="fab fa-twitter"></i>
                            </a>
                            <a class="footer-content__link" href="#" title="Trang trên facebook">
                              <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="footer-content__link" href="#" title="Trang trên instagram">
                              <i class="fab fa-instagram"></i>
                            </a>
                            <a class="footer-content__link" href="#" title="Trang trên youtube">
                              <i class="fab fa-youtube"></i>
                            </a>
                          </p>
                        </div>
                        <div class="copyright">
                          <p class="mb-2"><span>© Copyright 2022 VnExpress.net </span> | <span>All rights reserved</span>
                          </p>
                        </div>
                      </div>
                  </div>
                  
                </div>
            </div>
        </div>
    </div>
</footer>


<div class="scroll-to-top">
  <a href="javascript:;" id="to_top"></a>
</div>