
  <div class="space-header-fixed"></div>
  <header class="header header-scroll">
    <div class="btn-nav-menu-option-1">
      <div class="toggle-btn" data-toggle="modal" data-target="#showNavSideMenu">
        <span class="fal fa-bars"></span>
      </div>
      <div class="brand">
        <a href="m.index.html" title="Shop VnExpress" class="m-logo logo_tet">
          <img src="images/logo_shopvne_tet.png" alt="Logo Shop VnExpress" class="contain">
        </a>
      </div>
      <div class="toggle-btn-search" onclick="showSearch();">
        <span class="fal fa-search"></span>
      </div>
      <div class="toggle-btn-cart lengkeng" onclick="showMiniCart();">
        <span class="fal fa-shopping-cart"><i class="number_qty">18</i></span>
      </div>
    </div>

  </header>
