<div class="load"><span class="loading"></span></div>

<div class="space-header-fixed"></div>
<header class="header_area" id="header_area">
  <div class="container">
    <div class="header_area_inner">
      <button class="box-btn-show-menu" id="btn_show_menu" onclick="showMenu();"> <span></span> <span></span> <span></span> </button>
      <div class="header-left">
        <a href="/" class="d-flex align-items-center text-light text-decoration-none">
          <img src="images/logo.svg" alt="">
        </a>
      </div>

      <div class="header-center">
        <ul class="nav nav-menu-top">
          <li class="nav-item"><a href="#" title="" class="nav-link link-active">Giới thiệu</a></li>
          <li class="nav-item"><a href="#" title="" class="nav-link">Công nghệ</a></li>
          <li class="nav-item"><a href="#" title="" class="nav-link">Lợi ích</a></li>
          <li class="nav-item"><a href="#" title="" class="nav-link">Sự kiện</a></li>
          <li class="nav-item"><a href="#" title="" class="nav-link">Đối tác</a></li>
          <li class="nav-item"><a href="#" title="" class="nav-link">Liên hệ</a></li>
        </ul>
      </div>

    </div>
  </div>
</header>



<!-- Start popup menu -->
<aside class="aside_area" id="showNavSideMenu">
  <div class="bg_drop" onclick="showMenu();"></div>
  <nav class="nav-aside">
    <ul class="list-menu-cate">

      <li class="item-menu-cate">
        <a class="menu-link" href="index.html" title="">
          <span class="menu-name">Trang chủ</span>
        </a>
      </li>
      <li class="item-menu-cate">
        <a class="menu-link" href="#" title="">
          <span class="menu-name">Giới thiệu</span>
        </a>
      </li>
      <li class="item-menu-cate">
        <a class="menu-link" href="#" title="">
          <span class="menu-name">Công nghệ</span>
        </a>
      </li>
      <li class="item-menu-cate">
        <a class="menu-link" href="#" title="">
          <span class="menu-name">Lợi ích</span>
        </a>
      </li>
      <li class="item-menu-cate">
        <a class="menu-link" href="#" title="">
          <span class="menu-name">Sự kiện</span>
        </a>
      </li>
      <li class="item-menu-cate">
        <a class="menu-link" href="#" title="">
          <span class="menu-name">Đối tác</span>
        </a>
      </li>
      <li class="item-menu-cate">
        <a class="menu-link" href="#" title="">
          <span class="menu-name">Liên hệ</span>
        </a>
      </li>

    </ul>
  </nav>
</aside>
<!-- End popup menu -->