<div class="load"><span class="loading"></span></div>

<div class="space-header-fixed"></div>
<header class="header_area" id="header_area">
  <div class="container">
    <div class="header_area_inner">
      <button class="box-btn-show-menu" id="btn_show_menu" onclick="showMenu();"> <span></span> <span></span> <span></span> </button>
      <div class="header-left">
        <a href="index.html" title="VnExpress Digital Expo 2022" class="d-flex align-items-center text-light text-decoration-none">
          <img width="112" height="45" src="images/logo.svg" alt="VnExpress Digital Expo 2022">
        </a>
      </div>

      <nav class="header-center" id="navbar-primary">
        <ul class="nav nav-menu-top">
          <li class="nav-item"><a href="#Gioi_thieu" title="" class="nav-link scrollDiv">Giới thiệu</a></li>
          <li class="nav-item"><a href="#Cong_nghe" title="" class="nav-link scrollDiv">Công nghệ</a></li>
          <li class="nav-item"><a href="#Loi_ich" title="" class="nav-link scrollDiv">Lợi ích</a></li>
          <li class="nav-item"><a href="#Su_kien" title="" class="nav-link scrollDiv">Sự kiện</a></li>
          <li class="nav-item"><a href="#Doi_tac" title="" class="nav-link scrollDiv">Đối tác</a></li>
          <li class="nav-item nav-item-hightlight"><a href="#Lien_he" title="" class="nav-link scrollDiv">Liên hệ</a></li>
        </ul>
      </nav>

    </div>
  </div>
</header>



<!-- Start popup menu -->
<aside class="aside_area" id="showNavSideMenu">
  <div class="bg_drop" onclick="showMenu();"></div>
  <nav class="nav-aside">
    <ul class="list-menu-cate">

      <li class="item-menu-cate">
        <a class="menu-link scrollDiv" href="#Gioi_thieu" title="">
          <span class="menu-name">Giới thiệu</span>
        </a>
      </li>
      <li class="item-menu-cate">
        <a class="menu-link scrollDiv" href="#Cong_nghe" title="">
          <span class="menu-name">Công nghệ</span>
        </a>
      </li>
      <li class="item-menu-cate">
        <a class="menu-link scrollDiv" href="#Loi_ich" title="">
          <span class="menu-name">Lợi ích</span>
        </a>
      </li>
      <li class="item-menu-cate">
        <a class="menu-link scrollDiv" href="#Su_kien" title="">
          <span class="menu-name">Sự kiện</span>
        </a>
      </li>
      <li class="item-menu-cate">
        <a class="menu-link scrollDiv" href="#Doi_tac" title="">
          <span class="menu-name">Đối tác</span>
        </a>
      </li>
      <li class="item-menu-cate">
        <a class="menu-link scrollDiv" href="#Lien_he" title="">
          <span class="menu-name">Liên hệ</span>
        </a>
      </li>

    </ul>
  </nav>
</aside>
<!-- End popup menu -->