
	<meta charset="utf-8">
	<meta http-equiv="content-language" content="vi">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="telephone=no">
	<meta name="revisit-after" content="5 days">
	<meta name="robots" content="index, follow,noodp">
	<meta name="GOOGLEBOT" content="index,follow">
	<meta name="BingBOT" content="index,follow">
	<meta name="yahooBOT" content="index,follow">
	<meta name="yandexBOT" content="index,follow">
	<meta name="slurp" content="index,follow">
	<meta name="msnbot" content="index,follow">
	<link rel="alternate" href="{$url}" hreflang="vi-vn" />
	<link rel="shortcut icon" href="images/favicon.ico">
	<meta property="og:url"			content="" />
	<meta property="og:type"		content="website" />
	<meta property="og:title"		content="Vnexpress Digital Expo 2022" />
	<meta property="og:description" content="Vnexpress Digital Expo 2022" />
	<meta property="og:image"		content="" />
	<meta name="theme-color" content="#fafafa">
	<meta name="color-scheme" content="dark">