	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<!-- Style Page -->
@@if (device === 'pc') {
	<link rel="preload" as="style" type="text/css" href="css/styles-pc.min.css">
	<link rel="stylesheet" href="css/styles-pc.min.css?v=1">
	<link rel="preload" as="script" type="text/javascript" href="js/bundle-pc.min.js">
}
@@if (device === 'mobile') {
	<link rel="preload" as="style" type="text/css" href="css/styles-mobile.min.css">
	<link rel="stylesheet" href="css/styles-mobile.min.css?v=1">
	<link rel="preload" as="script" type="text/javascript" href="js/bundle-mobile.min.js">
}

	<script type="text/javascript">
		var domReadyQueue = [];
	</script>