
<section class="section about" id="GioiThieu">
	<div class="container">
		<article class="width_common item-ebox">
			<div class="thumb-item">
				<img src="images/graphics/ebox.svg" alt="eBox - Electronic conference">
			</div>
			<div class="content-item">
				<div class="content-item-inner">
					<div class="box-logo">
						<img src="images/graphics/logo.png" alt="eBox - Electronic conference">
					</div>
					<div class="section-box-title"> 
						<h2 class="title-name section-title-larger font-01">Giới thiệu về eBox</h2> 
					</div>
					<p>Là nền tảng streaming chia sẻ kinh nghiệm thực chiến và những khoảnh khắc nghệ thuật, eBox liên tục được cải tiến để nâng cấp, mang đến lợi ích cao nhất cho người xem, tạo không gian để tương tác, thưởng thức và trải nghiệm.</p>
				</div>
			</div>
		</article>
	</div>
</section>