
    <section class="section-contact-area" id="LienHe">
      <div class="container">

        <div class="section-contact-area-inner">
          <div class="section-box-title"> 
            <h2 class="title-name section-title-larger text-color-01">Liên hệ</h2> 
          </div>

          <div class="contact-rows">
            
            <div class="cell-01 contact-info-area">
              <div class="area-inner">
                <div class="contact-info">
                  <h3 class="contact-title-2">Hà Nội</h3>

                  <div class="info-item d-flex">
                    <span class="material-icons mr-2">add_location</span> 
                    Tầng 4-5, Tòa nhà FPT, Phố Duy Tân, P. Dịch Vọng Hậu, Quận Cầu Giấy, TP. Hà Nội.
                  </div>
                  <div class="info-item d-flex">
                    <span class="material-icons mr-2">phone</span> 
                    Hệ thống tổng đài CSKH: <a class="weight-500" href="tel:1900633003" title="Gọi ngay">1900633003</a>
                  </div>

                  <div class="hr clearfix my-3 my-md-4"></div>

                  <h3 class="contact-title-2">Hồ Chí Minh</h3>
                  <div class="info-item d-flex">
                    <span class="material-icons mr-2">add_location</span> 
                    Tầng 6-7, Tòa nhà Exchange Tower, số 1 Nam Kỳ Khởi Nghĩa, P. Nguyễn Thái Bình, Quận 1, TP. Hồ Chí Minh.
                  </div>
                  <div class="info-item d-flex">
                    <span class="material-icons mr-2">phone</span> 
                    Hệ thống tổng đài CSKH: <a class="weight-500" href="tel:1900633003" title="Gọi ngay">1900633003</a>
                  </div>

                  <div class="hr clearfix my-3 my-md-4"></div>

                  <h3 class="contact-title-2">Liên hệ tài trợ sự kiện</h3>
                  <div class="info-item d-flex">
                    <span class="material-icons mr-2">person</span>
                    Mrs. Nguyen Thu Phuong
                  </div>
                  <div class="info-item d-flex">
                    <span class="material-icons mr-2">add_location</span> 
                    FPT Building, no. 17 Duy Tan str, Dich Vong Hau, Cau Giay, Ha Noi, Viet Nam
                  </div>
                  <div class="info-item d-flex">
                    <span class="material-icons mr-2">phone</span> 
                    <a class="mr-2 weight-500 nowrap" href="tel:+842473009999,4869" title="Gọi ngay">+84 (24) 73009999</a> (Ext: <span class="ml-1 font-20 weight-500 color-primary-grey-80">4869</span>)
                  </div>
                  <div class="info-item d-flex">
                    <span class="material-icons mr-2">email</span> 
                    phuongnt6@fpt.com.vn
                  </div>
                </div>

              </div>
            </div>
            <div class="cell-02 contact-maps-area">
              <div class="area-inner">
                <div class="tabs-maps-area">
                  
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="location_01-tab" data-toggle="tab" data-target="#location_01" type="button" role="tab" aria-controls="location_01" aria-selected="false">Hà Nội</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="location_02-tab" data-toggle="tab" data-target="#location_02" type="button" role="tab" aria-controls="location_02" aria-selected="true">Hồ Chí Minh</button>
                    </li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div class="tab-pane active" id="location_01" role="tabpanel" aria-labelledby="location_01-tab">
                      <iframe title="eBox Hà Nội" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.046176384637!2d105.78058911540236!3d21.030838293082322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b355336d23%3A0xb337376aa7a9622f!2zRlBUIEJ1aWxkaW5nIEPhuqd1IEdp4bqleQ!5e0!3m2!1svi!2s!4v1627237927118!5m2!1svi!2s" width="600" height="550" style="width:100%;border:0;" allowfullscreen="" loading="lazy" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    <div class="tab-pane" id="location_02" role="tabpanel" aria-labelledby="location_02-tab">
                      <iframe title="eBox Hồ Chí Minh" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5617817297048!2d106.70118781804268!3d10.768217068284502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f403f4fffff%3A0xb19d03811ac801f6!2sFPT%20Online!5e0!3m2!1svi!2s!4v1627237686577!5m2!1svi!2s" width="600" height="550" style="width:100%;border:0;" allowfullscreen="" loading="lazy" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                  </div>
                </div>

                
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>