
.swal2-container.swal2-backdrop-show, 
.swal2-container.swal2-noanimation {
    backdrop-filter: blur(10px);
}
.swal2-title {
    font-size: 18px;
    @media (min-width: 768px) {
        font-size: 21px;
    }
}

// Typing Text
.typing-text {
    position: relative;
    &::after {
        content: "|";
        position: absolute;
        right: 0;
        width: 100%;
        color: #fff;
        background: #000;
        animation: typing-text 3s steps(17) forwards 3s, caret 1s infinite;
    }
}
// animation
@keyframes typing-text {
    to {
        width: 0;
    }
}
@keyframes caret {
    50% {
        color: transparent;
    }
}