// Start footer
footer.footer {
	position: relative;
	display: block;
	clear: both;
	width: 100%;
	overflow: hidden;
	z-index: 2;
	&.bg-footer {
		&:before {
			content: "";
			position: absolute;
			z-index: 0;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			// background: rgba(#707DFF, 0.4);
			// filter: blur(200px);
			// background: url("../images/bg-footer.svg");
			// background-size: 1961px 610px;
			// background-position: top center;
			// border-radius: 50%;
			// overflow: hidden;
			background: linear-gradient(180deg, rgba(112, 125, 255, 0) 11.14%, rgba(112, 125, 255, 0.6) 100%);
		}
	}

	.wrap-body {
		position: relative;
		display: block;
		clear: both;
		width: 100%;
		padding: 15px 0 20px;
		overflow: hidden;
		font-weight: 300;
		font-size: 14px;
		.body-inner {
			.menu-bottom {
				.item-col {
					position: relative;
					display: block;
					&.col-secondary {
						@media (min-width: 992px) {
							.col-inner {
								align-items: flex-start;

							}
						}
					}

					.col-inner {
						height: 100%;
						display: flex;
						flex-direction: column;
						justify-content: center;
					}

					.content-col {
						position: relative;
						display: block;
					}
				}

				.logo {
					max-width: 100%;
					width: auto;
				}
				.social {
					position: relative;
					display: block;
					margin-top: 15px;
					@media (min-width: 992px) {
						margin-top: 0;
						padding-top: 25px;
					}
					a {
						width: 36px;
						height: 36px;
						min-width: 25px;
						padding-left: 5px;
						padding-right: 5px;
						margin-right: 10px;
						color: #ffffff;
						font-size: 18px;
						display: inline-flex;
						align-items: center;
						&:hover {
							.fa-twitter {
								color: #1d9bf0;
							}
							.fa-facebook-f {
								color: #2374e1;
							}
							.fa-instagram {
								color: #e85354;
							}
							.fa-youtube {
								color: #f00;
							}
						}
					}
				}
				.copyright {
					position: relative;
					display: block;
					clear: both;
					padding-top: 10px;
				}

			}
		}
	}
	.footer-content__info {
		display: flex;
		align-items: center;
		i {
			margin-right: 5px;
			text-align: center;
			padding-top: 5px;
		}
	}
	.footer-content__link {
		text-decoration: none;
	}
	.footer-content__icon {
		min-width: 15px;
	}
}
// End footer