
.header_area {
    position: sticky;
    z-index: 11;
    height: 60px;
    left: 0px;
    top: 0px;
    background: rgba(#000000,0.4);
    backdrop-filter: blur(20px);
    // box-shadow: 0px 4px 20px rgba(6, 86, 141, 0.1);

    color: $text-color-primary-1;

    display: flex;
    align-items: center;

    @media (min-width: 992px) {
        height: 60px;
    }

    .header_area_inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (min-width: 992px) {
            justify-content: space-between;
        }
    }

    .header-left {
        width: 100%;
        display: flex;
        justify-content: center;
        @media (min-width: 992px) {
            justify-content: unset;
            flex: none;
            width: 150px;
        }
    }
    .header-center {
        display: none;
        @media (min-width: 992px) {
            display: block;
            flex: auto;
            width: 100%;
        }
    }
    // .header-right {
    //     position: absolute;
    //     right: 15px;
    //     @media (min-width: 992px) {
    //         position: relative;
    //         flex: none;
    //         width: 260px;
    //         right: unset;
    //     }
    // }


    // Area_header_left
    .box-btn-show-menu {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: block;
        width: 60px;
        height: 60px;
        padding: 13px 15px;
        background: none;
        border: none;
        box-shadow: none;
        outline: none;
        cursor: pointer;
        @media (min-width: 992px) {
            display: none;
        }
        span {
            display: block;
            background: var(--color-secondary-600);
            height: 2px;
            width: 25px;
            margin-top: 4px;
            margin-bottom: 4px;
            transform: rotate(0deg);
            position: relative;
            left: 0;
            opacity: 1;
            pointer-events: none;
            &:nth-child(1), 
            &:nth-child(3) {
                transition: transform .35s ease-in-out;
                transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out, -o-transform .35s ease-in-out;
            }
        }
        &.active {
            span {
                &:nth-child(1) {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    transform: rotate(135deg);
                    opacity: 0.9;
                }
                &:nth-child(2) {
                    height: 3px;
                    visibility: hidden;
                    background-color: transparent;
                }
                &:nth-child(3) {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    transform: rotate(-135deg);
                    opacity: 0.9;
                }
            }
        }
    }


    // Area_header_center
    .nav-menu-top {
        list-style: none;
        justify-content: flex-end;
        >li {
            position: relative;
            &:hover {
                .nav-sub-menu {
                    display: block;
                    top: 100%;
                }
            }
        }
        
    }
    .nav-link {
        padding: 10px 16px;
        font-weight: 300;
        font-size: 15px;
        color: $text-color-primary-1;
        @media (min-width: 1200px) {
            display: flex;
            align-items: center;
            height: 60px;
        }
        &:hover {
            color: var(--color-secondary-600);
            background: rgba(#ffffff,0.03);
            transition: 200ms ease-in-out;
        }
    }
    .nav-item-hightlight {
            // background-color: #7FECFF;
            // border-radius: 30%;
        }
    .link-light {
        color: #ffffff;
    }
    .link-active {
        color: var(--color-secondary-600);
        &:after {
            content: "";
            position: absolute;
            width: 92px;
            height: 3px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            background: var(--color-secondary-600);
            border-radius: 3px 3px 0px 0px;
        }
    }

    // Area_header_submenu
    .nav-sub-menu {
        display: none;
        list-style: none;
        position: absolute;
        background: #ffffff;
        top: 0;
        padding: 0;
        margin: 0;
        width: 200px;
        box-shadow: 0 1px 8px rgba(#505050,0.3);
        transition: transform 200ms ease-in-out;
        li {
            position: relative;
            .nav-link-lv-2 {
                position: relative;
                display: block;
                width: 100%;
                min-height: 40px;
                padding: 8px 15px;
                display: flex;
                align-items: center;
                color: #00247c;
                font-size: 14px;
                text-decoration: none;
                border-bottom: 1px solid #dddddd;
                &:hover {
                    background: rgba(#00247c,0.03);
                }
            }
        }
    }

    // Area_header_right

    .group-btn {
        width: 100%;
        float: right;
        display: inline-flex;
        justify-content: space-between;
        font-size: 13px;

        // display: inline-flex;
        // align-items: center;
        // width: auto;
        // height: 40px;
        // padding: 10px 20px;
        // margin: 0 0 0 20px;
        // font-size: 14px;
        // line-height: 1.2;
        // color: #fff;
        // background: transparent;
        // border: 1px solid #A1B3D3;
        // border-radius: 6px;
        // outline: none;
        // box-shadow: none;

        a {
            color: inherit;
            text-decoration: none;
            &:hover {
                color: var(--color-secondary-600);
            }
        }
        .box-user-login {
            position: relative;
            padding: 0;
            display: flex;
            align-items: center;
            .user-not-logged-in {
                display: block;
                display: flex;
                justify-content: flex-end;
                .btn-login {
                    margin: 0;
                    @media (max-width: 992px) {
                        border: 0;
                        .icon-user {
                            background-size: 100%;
                        }
                    }
                    .name-value {
                        width: 78px;
                    }
                }
                .btn-sign-in {
                    display: block;
                    height: 36px;
                    padding-left: 40px;
                    line-height: 36px;
                    white-space: nowrap;
                    cursor: pointer;
                    background: url(../images/icons/icon_user.svg);
                    background-repeat: no-repeat;
                    background-position: left center;
                    &:hover {
                        color: #5B8C51;
                    }
                    &:hover {
                        color: #5B8C51;
                    }
                }
            }
            .user-logged {
                display: inline-flex;
                justify-content: flex-end;
                width: 100%;
                .user-notify {
                    position: relative;
                    display: none;
                    flex: none;
                    width: 30px;
                    height: 30px;
                    margin-right: 13px;
                    background: #F2F5F8;
                    color: #ffffff;
                    border-radius: 15px;
                    font-size: 14px;
                    line-height: 30px;
                    text-align: center;
                    &.active {
                        display: block;
                    }
                    >a ,
                    >span {
                        display: block;
                    }
                    .notify-number {
                        position: absolute;
                        right: 18px;
                        display: block;
                        white-space: nowrap;
                        min-width: 16px;
                        min-height: 16px;
                        top: -6px;
                        background: #ffffff;
                        padding: 3px;
                        font-size: 12px;
                        line-height: 10px;
                        border-radius: 12px;
                        text-align: center;
                        color: #ffffff;
                    }
                    .dropdown-notify {
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: auto;
                        right: 0;
                        z-index: 99;
                        width: 228px;
                        padding-top: 10px;
                        text-align: left;
                        &:before {
                            content: "";
                            position: absolute;
                            display: block;
                            top: 1px;
                            left: auto;
                            right: 9px;
                            margin: auto;
                            width: 0;
                            height: 0;
                            border-left: 7px solid transparent;
                            border-right: 7px solid transparent;
                            border-bottom: 7px solid #dfe3ed;
                            z-index: 10;
                        }
                        &.collapse.in {
                            display: block;
                        }
                        &.dropdown-menu {
                            transform: none !important;
                            top: 100% !important;
                            left: auto !important;
                            border: 0;
                            background-color: transparent;
                        }
                        .list-notify {
                            position: absolute;
                            display: block;
                            list-style: none;
                            width: 228px;
                            padding: 10px 10px;
                            margin: 0;
                            right: -13px;
                            top: 8px;
                            color: #999;
                            font-size: 14px;
                            opacity: 1;
                            transition: all 0.5s ease 0s;
                            z-index: 9;
                            background: #ffffff;
                            box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.2);
                            border-top: 2px solid #dfe3ed;
                            border-radius: 5px;
                            max-height: 370px;
                            overflow: auto;

                            @media (max-width: 575px) {
                                right: -45px;
                            }
                            @media (max-width: 375px) {
                                right: -65px;
                            }
                            li {
                                position: relative;
                                display: block;
                                width: 100%;
                                clear: both;
                                margin: 0;
                                padding: 5px 0;
                                border-bottom: 1px solid #F2F5F8;
                                &:last-child {
                                    border-bottom: 0;
                                }
                                a {
                                    position: relative;
                                    display: inline-block;
                                    width: 100%;
                                    padding: 8px 10px;
                                    overflow: hidden;
                                    line-height: 1.3;
                                    color: #ffffff;
                                    vertical-align: top;
                                    &:hover {
                                        background: #f5f5f5;
                                        color: #111;
                                    }
                                    i,svg {
                                        color: #9B9B9B;
                                        padding-right: 5px;
                                    }
                                }
                                .highlight {
                                    color: #0296E5;
                                }
                            }
                        }
                    }
                    &.show{
                        .dropdown-notify {
                            display: block;
                        }
                    }
                    @media (min-width: 992px) {
                        &:hover{
                            .dropdown-notify {
                                display: block;
                            }
                        }
                    }
                }
                .user-name {
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    width: 32px;
                    height: 32px;
                    padding: 0;
                    margin: 0;
                    font-size: 15px;
                    line-height: 1.2;
                    color: #2387BF;
                    background: transparent;
                    border: 1px solid #2387BF;
                    border-radius: 50%;
                    outline: none;
                    box-shadow: none;
                    @media (min-width: 992px) {
                        width: auto;
                        height: 44px;
                        padding: 10px 12px;
                        border-radius: 6px;
                    }
                    &:hover{
                        .dropdown-user {
                            display: block;
                        }
                    }
                    .avata {
                        display: inline-block;
                        top: 0;
                        left: 0;
                        width: 32px;
                        height: 32px;
                        background: #BDBDBD;
                        border-radius: 20px;
                        text-align: center;
                        white-space: nowrap;
                        overflow: hidden;
                        @media (min-width: 992px) {
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                            margin-right: 10px;
                        }
                        img {
                            max-width: 100%;
                            vertical-align: top;
                        }
                    }
                    .name-value {
                        position: relative;
                        display: block;
                        max-width: 85px;
                        height: 20px;
                        font-size: 0;
                        line-height: 20px;
                        padding: 0;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        @media (min-width: 992px) {
                            font-size: 14px;
                        }
                    }
                    .dropdown-user {
                        display: none;
                        position: absolute;
                        top: 100%;
                        right: 0;
                        z-index: 99;
                        width: 100%;
                        padding-top: 10px;
                        text-align: left;
                        &.collapse.in {
                            display: block;
                        }
                        &.dropdown-menu {
                            transform: none !important;
                            top: 100% !important;
                            left: auto !important;
                            margin: 0;
                            border: 0;
                            background-color: transparent;
                            text-align: left;
                        }
                        .dropdown-inner {
                            position: absolute;
                            display: block;
                            width: 290px;
                            padding: 15px 10px;
                            margin: 0;
                            right: 0;
                            top: 8px;
                            color: #535353;
                            font-size: 14px;
                            opacity: 1;
                            transition: all 0.5s ease 0s;
                            z-index: 9;
                            background: #ffffff;
                            box-shadow: 0px 2px 16px rgba(51, 51, 51, 0.12);
                            border-radius: 4px;
                            @media (min-width: 992px) {
                                right: auto;
                                left: 0;
                            }
                            &:before {
                                content: "";
                                position: absolute;
                                display: block;
                                top: -7px;
                                right: 8px;
                                left: auto;
                                margin: auto;
                                width: 0;
                                height: 0;
                                border-left: 7px solid transparent;
                                border-right: 7px solid transparent;
                                border-bottom: 7px solid #dfe3ed;
                                z-index: 10;
                                @media (min-width: 992px) {
                                    right: auto;
                                    left: 24px;
                                }
                            }
                            .user-profile {
                                padding: 10px 0;
                                display: flex;
                                align-items: center;
                                border-bottom: 1px solid #DBDBDB;
                                &.verified {
                                    .wrap-txt {
                                        .name {
                                            &:after {
                                                content: "";
                                                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.75 12.122C8.75403 12.7073 7.6707 13 6.5 13C5.3293 13 4.24597 12.7073 3.25 12.122C2.25403 11.5366 1.46337 10.746 0.878024 9.75C0.292675 8.75403 0 7.6707 0 6.5C0 5.3293 0.292675 4.24597 0.878024 3.25C1.46337 2.25403 2.25403 1.46337 3.25 0.878024C4.24597 0.292675 5.3293 0 6.5 0C7.6707 0 8.75403 0.292675 9.75 0.878024C10.746 1.46337 11.5366 2.25403 12.122 3.25C12.7073 4.24597 13 5.3293 13 6.5C13 7.6707 12.7073 8.75403 12.122 9.75C11.5366 10.746 10.746 11.5366 9.75 12.122ZM5.16211 9.93372C5.232 10.0211 5.32811 10.0648 5.45042 10.0648C5.57273 10.0648 5.66883 10.0211 5.73872 9.93372L10.5613 5.11114C10.6487 5.04125 10.6924 4.94515 10.6924 4.82284C10.6924 4.70052 10.6487 4.60442 10.5613 4.53453L9.98469 3.93171C9.89733 3.84434 9.79686 3.80066 9.68328 3.80066C9.56971 3.80066 9.46924 3.84434 9.38187 3.93171L5.45042 7.86316L3.61574 6.02848C3.52838 5.94112 3.4279 5.89743 3.31433 5.89743C3.20075 5.89743 3.10028 5.94112 3.01292 6.02848L2.43631 6.6313C2.34894 6.7012 2.30526 6.7973 2.30526 6.91961C2.30526 7.04192 2.34894 7.13802 2.43631 7.20792L5.16211 9.93372Z' fill='%234872DA'/%3e%3c/svg%3e");
                                                background-repeat: no-repeat;
                                                width: 13px;
                                                height: 13px;
                                                display: inline-block;
                                                margin-left: 10px;
                                            }
                                        }
                                    }
                                }
                                .wrap-image {
                                    flex: none;
                                    margin-right: 10px;
                                    img {
                                        width: 40px;
                                        height: 40px;
                                        border-radius: 50%;
                                        overflow: hidden;
                                    }
                                }
                                .wrap-txt {
                                    flex: auto;
                                    line-height: 1.4;
                                    .name {
                                        font-weight: bold;
                                        font-size: 16px;
                                        line-height: 1.3;
                                        color: #000000;
                                    }
                                    a {
                                        color: #345DC4;
                                        text-decoration-line: underline;
                                    }
                                }
                            }
                            ul {
                                list-style: none;
                                margin: 0;
                                padding: 8px 0;
                            }
                            li {
                                position: relative;
                                display: block;
                                width: 100%;
                                clear: both;
                                margin: 0;
                                padding: 0;
                                a {
                                    position: relative;
                                    display: inline-block;
                                    width: 100%;
                                    padding: 0 10px;
                                    line-height: 30px;
                                    border-radius: 3px;
                                    color: #000000;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    &:hover {
                                        color: #00247C;
                                    }
                                    i,svg {
                                        color: #00247C;
                                        padding-right: 5px;
                                    }
                                }
                            }

                            .btn-logout {
                                border-top: 1px solid #DBDBDB;
                                color: #FB5757;
                                a {
                                    color: #FB5757;
                                    &:hover {
                                        color: inherit;
                                    }
                                }
                            }
                        }
                    }
                    &.show{
                        .dropdown-user {
                            display: block;
                        }
                    }
                }
            }
        }
    }


    .btn-login {
        position: relative;
        display: inline-flex;
        align-items: center;
        width: 32px;
        height: 32px;
        padding: 0;
        margin: 0 0 0 20px;
        font-size: 0;
        line-height: 1.2;
        color: #2387BF;
        background: transparent;
        border: 1px solid #2387BF;
        border-radius: 50%;
        outline: none;
        box-shadow: none;

        @media (min-width: 992px) {
            width: auto;
            height: 40px;
            padding: 10px 12px;
            font-size: 14px;
            border-radius: 6px;
        }
    }
    .icon-user {
        position: absolute;
        left: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-size: 18px;
        // background: url(../images/icons/icon_user.svg);
        // background-size: 20px 20px;
        // background-repeat: no-repeat;
        // background-position: center center;
        &:after {
            content: "\f2bd";
            font-family: "Font Awesome 5 Pro";
        }

        @media (min-width: 992px) {
            position: relative;
            display: inline;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            background-position: left center;
        }
    }

    .btn-go-back {
        // display: inline-flex;
        position: relative;
        display: none;
        align-items: center;
        width: auto;
        height: 44px;
        padding-left: 25px;
        margin: 0 0 0 10px;
        font-weight: 300;
        font-size: 13px;
        background: transparent;
        border: 1px solid transparent;
        border-radius: 6px;
        outline: none;
        box-shadow: none;
        @media (min-width: 992px) {
            display: inline-flex;
        }
        i {
            margin-right: 4px;
            font-size: 16px;
        }
    }
    .icon-back {
        display: inline;
        width: 28px;
        height: 20px;
        background: url(../images/icons/icon_arrow_right.svg);
        background-position: left center;
        background-repeat: no-repeat;
    }

}