/* Start Banner Top Area css
============================================================================================ */
.section-banner-area {
	position: relative;
	display: block;
	width: 100%;
	padding: 40px 0;
	// overflow: hidden;
	.area-inner {
		display: flex;
		flex-wrap: wrap-reverse;
		.wrap-item-text {
			position: relative;
			@media (max-width: 768px) {
				text-align: center;
			}
			.title-banner {
				font-weight: 500;
				font-size: 38px;
				line-height: 1.3;
				margin: 0 0 20px;
				text-align: left;
				@media (min-width: 768px) {
					font-size: 68px;
				}
			}
			.content-banner {
				margin: 30px 0;
				font-size: 15px;
				font-weight: 300;
				text-align: left;
				@media (min-width: 768px) {
					font-size: 17px;
				}
			}
			.text-color-primary {
				color: #7fecff;
				@media (min-width: 992px) {
					color: #fff;
				}
			}
			.btn-main {
				font-weight: 400;
				font-size: 18px;
			}
		}
		.wrap-item-img {
			position: relative;
			text-align: center;
			@media (min-width: 992px) {
				text-align: right;
			}

			&:hover {
				img {
					transform: translateY(-20px);
				}
			}
			img {
				position: relative;
				transition: transform 600ms ease-in-out;
				max-width: 240px;
				z-index: 2;

				@media (min-width: 992px) {
					max-width: 100%;
				}
			}
			.gradient-top {
				position: absolute;
				width: 476px;
				height: 449px;
				left: 0;
				right: 0;
				bottom: 45px;
				margin: auto;

				background: rgba(126, 64, 207, 0.4);
				filter: blur(200px);
				pointer-events: none;
			}
			.gradient-conner-left {
				position: absolute;
				width: 402px;
				height: 381px;
				right: 58px;
				top: 61px;
				margin: auto;

				background: rgba(127, 164, 238, 0.4);
				filter: blur(200px);
				pointer-events: none;
			}
			.gradient-conner-right {
				position: absolute;
				width: 434px;
				height: 370px;
				left: 147px;
				bottom: 0;
				margin: auto;

				background: rgba(112, 125, 255, 0.4);
				filter: blur(200px);
				pointer-events: none;
			}
		}
	}
}
/* End Banner Top Area css
============================================================================================ */


/* Start Number Fun Area css
============================================================================================ */
.section-number-fun-area {
    padding: 30px 0 40px;
    @media (min-width: 992px) {
        padding: 40px 0 50px;
    }

    .area-inner {
    	display: flex;
        flex-wrap: wrap;
    	@include gap_4(2,40px);

	    @media (min-width: 992px) {
    		@include gap_4(4,40px);
	    }
	    .item-col {

	    }
    }
	.card-info {
	    line-height: 1.8;
	    // margin: 1rem;

	    &__body {
	        color: #fff;
	        display: flex;
	        flex-direction: column;
            flex-wrap: wrap;
			align-items: center;
			text-align: center;
	        @media (min-width: 768px) {
	        	flex-direction: row;
				text-align: left;
            	flex-wrap: nowrap;
	        }
	    }
	    &__icon {
	        font-size: 40px;
	        margin: 0 0 10px;
	        @media (min-width: 768px) {
	        	margin: 0 10px 0 0;
	        }
	    }
	    &__title {
            font-size: 20px;
	        font-weight: 550;
	        color: #7fecff;
	        @media (min-width: 1400px) {
	        	font-size: 30px;
	        }
	    }
	    &__text {
	        margin: 0;
	        font-size: 13px;
	        @media (min-width: 1400px) {
	            font-size: 18px;
	        }
	    }
	}
	.section-text-content {
    	margin: 20px 0 0;
	    font-weight: 300;
	    font-size: 17px;
	}
	.line-bottom {
	    border-bottom: 1px solid #7fecff;
	    width: 45%;
	    margin: 30px auto;
	}
}
/* End Number Fun Area css
============================================================================================ */


/* Start Lợi ích khi tham gia Area css
============================================================================================ */
.section-benefits-area {
    padding: 30px 0 40px;
    @media (min-width: 992px) {
        padding: 40px 0 50px;
    }
	.heading-title {
	    margin-bottom: 20px;
	    .title-name {
	        font-size: 32px;
	        @media (max-width: 768px) {
	            font-size: 20px;
	        }
	    }
	}

	.card-pricing {
	    text-align: left;
	    padding: 20px;
	    margin: 0;
	    height: 100%;
	    width: calc(100% / 3.2);
	    z-index: 3;

	    @media (min-width: 992px) {
	        padding: 20px 20px 15px;
	    }
	    @media (max-width: 1023px) {
	        width: 100%;
	        height: auto;
	    }
	    &__type {
	        font-weight: 500;
	        margin: 0 0 30px;
	        font-size: 16px;
	        position: relative;
	        @media (min-width: 768px) {
	            font-size: 20px;
	        }
	    }
	    &__type::after {
	        position: absolute;
	        content: "";
	        width: 80px;
	        border-bottom: 1px solid #7FECFF;
	        left: 0;
	        bottom: -12px;
	    }
	    &__list {
	        list-style-type: disc;
	        font-size: 14px;
	        font-weight: 300;
	        margin: 0;
	        padding: 0 0 0 17px;
	        li {
	            margin: 0 0 8px;
	        }
	    }
	}

	.benefit-section-list {
		position: relative;
	    background-color: transparent;
	    height: 100%;
	    min-height: 483px;
	    // z-index: 2;
	    overflow: hidden;
	    display: flex;
	    justify-content: center;
	    align-items: flex-start;
	    flex-wrap: wrap;
		
        @media (min-width: 1024px) {
	    	flex-wrap: nowrap;
        }

        .layer-bg {
	        position: absolute;
	        content: "";
			top: 0;
	        left: 0;
	        width: 100%;
	        height: 100%;

	        .wrap-img-boll-blur {
				display: none;
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				z-index: 1;
				width: 100%;
				height: 100%;
				@media (min-width: 1200px) {
					display: block;
				}
				.grad-first {
					content: "";
					position: absolute;
					width: 459px;
					height: 434px;
					right: -45px;
					top: -170px;
					border-radius: 50%;

					background: rgba(127, 164, 238, 0.4);
					filter: blur(200px);
					pointer-events: none;
					// background: red;
					z-index: -1;
				}
				.img-boll-blur {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					width: 100%;
					height: 100%;
					// background-color: rgba(227, 227, 227, 0.05);
					background-image: url(../images/the-iron-ball.png);
		        	background-repeat: no-repeat;
					background-attachment: fixed;
					background-position: center right -10%;
					background-size: 459px auto;
					filter: blur(8px);
					// backdrop-filter: blur(20px);
					@media (min-width: 1400px) {
						background-position: center right -5%;
					}
				}
				.grad-second {
					content: "";
					position: absolute;
					width: 496px;
					height: 421px;
					right: -440px;
					top: -170px;
					border-radius: 50%;

					background: rgba(112, 125, 255, 0.4);
					filter: blur(200px);
					pointer-events: none;
					// background: green;
				}
	        }

			.gradient-top {
				position: absolute;
				width: 459px;
				height: 434px;
				right: -180px;
				top: -70px;
				border-radius: 50%;

				background: rgba(101, 59, 195, 0.3);
				filter: blur(200px);
				pointer-events: none;
		        @media (min-width: 1024px) {
					left: 0;
					right: 0;
					top: 140px;
					margin: auto;
		        }
			}
			.gradient-conner-left {
				position: absolute;
				width: 459px;
				height: 434px;
				right: -130px;
				top: 140px;
				border-radius: 50%;

				background: rgba(127, 164, 238, 0.4);
				filter: blur(200px);
				pointer-events: none;
		        @media (min-width: 1024px) {
					left: 0;
					right: 0;
					top: 140px;
					transform: translateX(-50%);
		        }
			}
			.gradient-conner-right {
				position: absolute;
				width: 459px;
				height: 434px;
				right: -130px;
				top: 213px;
				border-radius: 50%;

				background: rgba(112, 125, 255, 0.4);
				filter: blur(200px);
				pointer-events: none;
		        @media (min-width: 1024px) {
					left: 0;
					right: 0;
					top: 213px;
					margin: auto;
					transform: translateX(50%);
		        }
			}

			.img-boll {
				position: absolute;
		        top: 0;
		        right: 0;
		        width: 416px;
		        height: 100%;
	        	z-index: 2;
		        pointer-events: none;
	            background-image: url(../images/the-iron-ball.png);
		        background-repeat: no-repeat;
				background-size: 390px auto;
	        	background-position: center right -270px;
	        	background-attachment: fixed;
		        @media (min-width: 575px) {
		            background-attachment: unset;
		        }
		        @media (min-width: 1024px) {
		            background-attachment: unset;
					width: 100%;
					height: 100%;
					background-size: 735px 711px;
					background-position: bottom 195% center;
		        }
			}
        }
		// .layber-blur-bg {
		// 	position: absolute;
		// 	z-index: 2;
		// 	width: 100%;
		// 	height: 100%;
		// 	background: radial-gradient(circle, rgba(100,39,201, 0.3) 0%, rgba(100,39,201,0) 100%);
		// 	backdrop-filter: blur(10px);
		// }
		// &::after {
		// 	position: absolute;
		// 	content: "";
		// 	top: 0;
		// 	right: 0;
		// 	z-index: 1;
		// 	width: 100%;
		// 	height: 100%;
		// 	background: url(../images/the-iron-ball.png) no-repeat fixed;
		// 	background-position: 95%;
		// 	background-size: 420px;
		// 	@media (max-width: 1024px) {
		// 		display: none;
		// 	}
	 //    }
	}

	.line-benefit-section {
	    width: 100%;
	    height: 20px;
	    background-color: #000;
	    z-index: 4;
	    @media (min-width: 1024px) {
	        height: 100%;
	        width: 32px;
	    }
	}
}

.section-block-bg {
    position: relative;
    padding: 40px 0 160px;
	background-repeat: no-repeat;
	@media (max-width: 767px) {
		background-image: url(../images/backgrounds/gif-bg-mobile.gif);
		background-size: 515px auto;
    	background-position: bottom -11% center;
	}
	@media (min-width: 768px) {
    	padding: 80px 0 100px;
	    background-image: url(../images/backgrounds/bg-contact.gif);
		background-size: 100% auto;
    	background-position: bottom center;
	}

    @media (min-width: 992px) {
        padding: 50px 0 150px;
    }
    &.light-on {
        &:before {
            content: "";
            position: absolute;
            width: 472px;
            height: 446px;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
            background: rgba(127, 164, 238, 0.2);
            filter: blur(200px);
            z-index: 1;
            pointer-events: none;
        }
    }
    .heading-title__title {
		margin-bottom: 15px;
    }
	.help-text-info__text {
		margin-bottom: 20px;
	    font-weight: 300;
	    font-size: 17px;
	    @media (max-width: 768px) {
	        font-size: 14px;
	    }
	}
}
/* End Lợi ích khi tham gia Area css
============================================================================================ */


/* Start Các sự kiện đã diễn ra Area css
============================================================================================ */
.section-slide-home-area {
	position: relative;
	display: block;
	padding: 30px 0;
	overflow: hidden;

	.area-inner {
		display: block;
	}
	.area-box-title {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-bottom: 10px;
		z-index: 0;
		@media (min-width: 767px) {
			margin-bottom: 10px;
		}
		.title-name {
			display: inline-block;
			padding-right: 20px;
			margin-bottom: 10px;
			font-weight: 500;
			font-size: 26px;
			@media (max-width: 768px) {
				font-size: 20px;
			}
			// &:before {
			// 	content: '';
			// 	position: absolute;
			// 	display: block;
			// 	top: 0;
			// 	bottom: 0;
			// 	width: 100%;
			// 	height: 1px;
			// 	margin: auto;
			// 	background-color: #D6D6D6;
			// 	z-index: -1;
			// }
			a {
				color: #122d98;
				text-decoration: none;
			}
		}

		.group-btn-slide {
			position: absolute;
			display: block;
			top: 0;
			bottom: 0;
			width: 90px;
			height: 100%;
			right: 0;
			@media (max-width: 768px) {
				display: none;
			}
		}

		.swiper-button-next-slide-technology,
		.swiper-button-prev-slide-technology {
			position: absolute;
			top: 0;
			width: 25px;
			height: 39px;
			line-height: 39px;
			z-index: 6;
			cursor: pointer;
			outline: none;
			background: transparent;
			color: #7fecff;
			opacity: 0.7;
			&:after {
				content: "";
				position: absolute;
				display: block;
				top: 0;
				right: 0;
				width: 25px;
				height: 39px;
				line-height: 39px;
				text-align: center;
				vertical-align: middle;
				z-index: 2;
				font-family: "Font Awesome 5 Pro";
				font-size: 24px;
				font-weight: 300;
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
			}
			&:hover {
				color: #7fecff;
				background: rgba(#000000, 0.1);
				&:after {
				}
			}
			&.swiper-button-disabled {
				background: none;
				color: #d9d9d9;
				cursor: default;
				opacity: 0.9;
			}
		}
		.swiper-button-prev-slide-technology {
			top: 0;
			right: 25px;
			&:after {
				content: "\f104";
			}
		}
		.swiper-button-next-slide-technology {
			top: 0;
			right: 0;
			&:after {
				content: "\f105";
			}
		}
	}
	.title-sub {
		position: relative;
		display: block;
		width: 100%;
		font-size: 19px;
		line-height: 1.4;
		text-align: justify;
		margin-bottom: 25px;
	}
	.area-box-list {
		position: relative;
		display: block;
		width: 100%;
		.layer-blur {
			// display: none;
			position: absolute;
			z-index: 2;
			right: 0;
			top: 0;
			width: 357px;
			height: 100%;
			background: rgb(0, 0, 0);
			background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
			// background: rgb(79,27,197);
			// background: linear-gradient(90deg, rgba(79,27,197,0) 0%, rgba(0,0,0,0.5018601190476191) 45%, rgba(0,0,0,1) 100%);
			// background: linear-gradient(256.77deg, #050609 -15.68%, rgba(5, 6, 9, 0) 100.87%);
			pointer-events: none;
			@media (max-width: 768px) {
				width: 15%;
			}
		}

		.news-list {
			// position: relative;

			&.slide-autoplay {
				.swiper-wrapper{
					transition-timing-function:linear!important; 
					position: relative;
				}
			}

			.news-item {
				position: relative;
				display: block;
				margin: 0 0 15px;
				.item-inner {
					position: relative;
					display: block;
					padding: 0;
					border-radius: 12px;
					overflow: hidden;
					// background: #FFFFFF;
					// box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
					.item-image {
						position: relative;
						display: block;
						width: 100%;
						overflow: hidden;

						// height: 250px;
						// @media (min-width: 768px) {
						// 	min-height: 312px;
						// }
						.item-image-a {
							position: relative;
							display: block;
							margin: 0 auto;
						}
						// img {
						// 	height: 250px;
						// 	@media (min-width: 768px) {
						// 		min-height: 312px;
						// 	}
						// }
					}
					.item-info {
						position: relative;
						display: block;
						width: 100%;
						padding: 20px 18px 15px;
						position: absolute;
						bottom: 0;
						z-index: 2;
						&:before {
							content: "";
							position: absolute;
							width: 100%;
							height: 161px;
							left: 0;
							bottom: 0;
							// background: linear-gradient(0deg, #6427C9 35.14%, rgba(18, 59, 105, 0) 101.86%);
							background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(100, 39, 201, 1) 100%);
							pointer-events: none;
						}
						.item-title {
							position: relative;
							display: block;
							width: 100%;
							margin: 10px 0 10px;
							padding: 0;
							font-weight: 500;
							font-size: 14px;
							line-height: 1.3;
							@media (min-width: 992px) {
								font-size: 16px;
							}
							.item-title-a {
								position: relative;
								display: block;
								display: -webkit-box;
								padding: 0;
								margin: 0;
								color: #ffffff;
								text-decoration: none;
								overflow: hidden;
								-webkit-box-orient: vertical;
								text-overflow: ellipsis;
								-webkit-line-clamp: 1;
								word-break: break-word;
								&:hover {
								}
							}
						}
						// .item-description {
						// 	max-height: 75px;
						// 	margin: 0 0 5px;
						// 	font-size: 14px;
						// 	line-height: 1.4;
						// 	padding: 0;
						// 	overflow: hidden;
						// 	-webkit-box-orient: vertical;
						// 	text-overflow: ellipsis;
						// 	-webkit-line-clamp: 3;
						// 	word-break: break-word;
						// }
						.item-time-publish {
							margin: 0 0 5px;
							color: #707070;
							font-size: 14px;
						}
						.btn-readmore {
							position: relative;
							padding: 5px 16px;
							margin: 0 0 8px;
							color: #000000;
							background: #7fecff;
							font-weight: 400;
							font-size: 14px;
							line-height: 1.3;
							text-decoration: none;
							display: inline-flex;
							justify-content: center;
							align-items: center;

							box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
							border-radius: 20px;
							&:before {
								content: "\f0da";
								position: relative;
								padding-right: 8px;
								text-align: center;
								vertical-align: middle;
								z-index: 2;
								font-family: "Font Awesome 5 Pro";
								font-weight: 600;
								font-size: 15px;
								-moz-osx-font-smoothing: grayscale;
								-webkit-font-smoothing: antialiased;
								font-style: normal;
								font-variant: normal;
								text-rendering: auto;
							}
							&:hover {
								background: #40A9FF;
							}
						}
					}
				}
				&__time {
					color: #fff;
					position: relative;
					display: inline-flex;
					align-items: center;
					font-size: 14px;
					font-weight: 300;
					opacity: 0.7;
				}
				.item-inner:hover {
				}
			}
		}

		// .news-slide {
		// 	.news-item {
		// 		.item-inner {
		// 			.item-image {
		// 				min-height: 280px;
		// 				@media (min-width: 768px) {
		// 					min-height: 347px;
		// 				}
		// 				img {
		// 					height: 347px;
		// 				}
		// 			}
		// 		}
		// 	}
		// }

		.group-btn-slide {
			position: absolute;
			display: block;
			top: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			left: 0;
			right: 0;
		}
		.swiper-pagination-slide-technology {
			position: relative;
			z-index: 2;
			left: 0;
			right: 0;
			margin: 10px 0 0;
			display: flex;
			justify-content: center;
			align-items: center;
			pointer-events: none;
			&.swiper-pagination-lock {
				display: none;
			}
			& > * {
				pointer-events: auto;
			}
			.swiper-pagination-bullet {
				width: 20px;
				height: 1px;
				margin: 4px;
				background: #666666;
				border-radius: 0;
				opacity: 0.7;
				box-shadow: 0 0px 1px rgba(122, 122, 122, 0.5);
				outline: none;
				@media (min-width: 1400px) {
					width: 40px;
				}
			}
			.swiper-pagination-bullet-active {
				height: 3px;
				background: #0049ff;
				opacity: 1;
				cursor: default;
			}
		}
		&:hover {
			.swiper-button-next-slide-technology,
			.swiper-button-prev-slide-technology {
				background: rgba(255, 255, 255, 0.8);
				//filter: drop-shadow(0px 1px 2px #000);
				opacity: 0.9;
			}
		}
		.swiper-button-next-slide-technology,
		.swiper-button-prev-slide-technology {
			position: absolute;
			z-index: 6;
			top: 50%;
			width: 35px;
			height: 35px;
			margin-top: -35px;
			background: rgba(255, 255, 255, 0.3);
			color: #0049ff;
			border-radius: 50%;
			outline: none;
			cursor: pointer;
			opacity: 0.7;
			box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
			// box-shadow: 0 1px 5px 0 rgba(0,0,0,0.16), 0 1px 2px 0 rgba(0,0,0,0.26);
			&:after {
				content: "";
				position: absolute;
				display: block;
				top: 0;
				right: 0;
				width: 35px;
				height: 35px;
				line-height: 35px;
				text-align: center;
				vertical-align: middle;
				z-index: 2;
				font-family: "Font Awesome 5 Pro";
				font-size: 24px;
				font-weight: 300;
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
			}
			&.swiper-button-disabled {
				cursor: default;
				opacity: 0;
			}
		}
		.swiper-button-prev-slide-technology {
			left: -50px;
			right: auto;
			&:after {
				content: "\f177";
			}
		}
		.swiper-button-next-slide-technology {
			right: -50px;
			left: auto;
			&:after {
				content: "\f178";
			}
		}

		.btn-viewmore {
			position: relative;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			min-width: 150px;
			height: 40px;
			padding: 0 12px;
			margin: 10px auto;
			color: #ffffff;
			background-color: #1aa7dd;
			border: 1px solid #1aa7dd;
			border-radius: 5px;
			font-size: 14px;
			line-height: 1.3;
			font-weight: 600;
			text-align: center;
			text-decoration: none;
		}
	}
}
/* End Các sự kiện đã diễn ra Area css
============================================================================================ */


/* Start Các thương hiệu đã hợp tác Area css
============================================================================================ */
.section-unit {
	position: relative;
	display: block;
	width: 100%;
	padding: 40px 0;
	overflow: hidden;
	.unit-inner {
		display: block;
	}
	.unit-box-title {
		position: relative;
		display: block;
		clear: both;
		width: 100%;
		margin-bottom: 30px;
		vertical-align: top;
		color: #ffffff;
		text-align: center;
		&:before {
			content: "";
			background: linear-gradient(
				270deg,
				rgba(127, 236, 255, 0) 0%,
				rgba(255, 255, 255, 0) 0%,
				rgba(153, 240, 255, 0.797496) 25%,
				#7fecff 50%,
				rgba(171, 242, 255, 0.659794) 75%,
				rgba(255, 255, 255, 0) 100%
			);
			position: absolute;
			max-width: 954px;
    		width: 100%;
			height: 1px;
			margin: auto;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		.title-name {
			position: relative;
			display: inline-block;
			font-size: 24px;
			line-height: 31px;
			text-transform: uppercase;
			z-index: 1;
			&:after {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				background: #000000;
				left: 0;
				bottom: 0;
				transform: scale(1.1);
				z-index: -1;
				@media (min-width: 768px){
					transform: scale(1.3);
				}
			}
			@media (max-width: 768px) {
				font-size: 20px;
			}
		}
		.title-sub {
			position: relative;
			display: block;
			width: 100%;
			font-size: 15px;
			line-height: 1.7;
			text-align: justify;
			margin: 0 auto;
			margin-bottom: 25px;
			max-width: 670px;
			text-align: center;
			color: #666666;
		}
	}
	.unit-box-list {
		position: relative;
		display: block;
		vertical-align: top;
		width: 100%;
		padding: 15px 0;
		text-align: center;
		.unit-list {
			position: relative;
			display: block;
			height: 240px;
			text-align: center;
			display: flex;
			justify-content: center;
			@media (min-width: 576px) {
				padding: 0 30px;
				overflow: hidden;
			}

			.swiper-slide {
				height: calc((100% - 24px) / 4) !important;
				@media (min-width: 768px) {
					height: calc((100% - 16px) / 2) !important;
				}
			}

			.unit-item {
				position: relative;
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
				max-width: 250px;
				display: flex;
				align-items: center;
				.item-inner {
					position: relative;
					display: block;
					height: 100%;
					.item-image {
						position: relative;
						display: block;
						height: 100%;
						overflow: hidden;
						.item-image-a {
							position: relative;
							height: 100%;
							margin: 0 auto;
							display: flex;
							align-items: center;
						}
						// start case 01
						// img {
						// 	max-width: 100%;
						// 	max-height: 150px;
						// 	margin: auto;
						// 	&+img {
						// 		position: absolute;
						// 		top: 0;
						// 		left: 0;
						// 		visibility: hidden;
						// 	}
						// }
						// &:hover {
						// 	img {
						// 		visibility: hidden;
						// 		&+img {
						// 			visibility: visible;
						// 		}
						// 	}
						// }
						// end case 01

						// start case 02
						img {
							max-width: 100%;
							max-height: 100%;
							margin: auto;
							filter: grayscale(100);
							// object-fit: scale-down;
						}
						&:hover {
							img {
								filter: unset;
							}
						}
						// end case 02
					}
				}
			}
		}
		.swiper-button-prev-unit,
		.swiper-button-next-unit {
			position: absolute;
			z-index: 2;
			display: block;
			display: flex;
			align-items: center;
			justify-content: center;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 30px;
			height: 30px;
			background: transparent;
			text-align: center;
			line-height: 30px;
			border-radius: 50%;
			color: #d9d9d9;
			font-size: 32px;
			cursor: pointer;
			outline: none;
			&.swiper-button-disabled {
				cursor: default;
				opacity: 0;
			}
			&:hover {
				color: #7fecff;
			}
		}
		.swiper-button-prev-unit {
			left: -15px;
			@media (min-width: 992px) {
				left: -35px;
			}
		}
		.swiper-button-next-unit {
			right: -15px;
			@media (min-width: 992px) {
				right: -35px;
			}
		}
	}
}
/* End Các thương hiệu đã hợp tác Area css
============================================================================================ */


/* Start Form Đăng ký Area css
============================================================================================ */
.section-frm-contact {
	position: relative;
	display: block;
	padding: 20px 0 0;
	@media (min-width: 1200px) {
		padding: 60px 0 0;
		margin: 30px 0;
	}
	.section-frm-contact-inner {
		position: relative;
		display: block;
		width: 100%;
		.section-box-title {
			position: absolute;
			display: block;
			top: -10%;
			left: 0;
			right: 0;
			margin: auto;
			max-width: 700px;
			vertical-align: top;
			color: #ffffff;
			margin-bottom: 20px;
			text-align: center;
			background-color: #000;

			@media (max-width: 768px) {
				position: relative;
				top: unset;
				left: unset;
				width: 100%;
			}

			.title-name {
				position: relative;
				display: block;
				font-weight: 500;
				font-size: 21px;
				line-height: 1.3;
				margin-bottom: 15px;
				@media (min-width: 992px) {
					font-size: 32px;
				}
			}
		}

		.contact-form {
			padding: 20px 0;
			border: 0;

			@media (min-width: 768px) {
				padding: 30px 0;
				border: 1px solid #7FECFF;
				&:before {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
					background-image: url(../images/backgrounds/bg-form-register.svg);
					z-index: -1;
					opacity: 0.7;
				}
			}
			@media (min-width: 992px) {
				padding: 80px 0 40px;
			}
			.form-register {
				position: relative;
				max-width: 640px;
				margin: 0 auto;
				z-index: 1;
				&:before {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
					background: rgba(112, 125, 255, 0.4);
					filter: blur(200px);
					opacity: 0;
					transition: opacity 2s;
					z-index: -1;
				}
				&:hover {
					&:before {
						opacity: 1;
					}
				}
			}
			.row-frm {
				display: flex;
				flex-direction: column;
				@include gap_3(1, 0px);
				@media (min-width: 992px) {
					flex-direction: row;
					@include gap_3(2, 24px);
				}
				.cell-frm {
					width: 100%;
					.cell-frm-inner {
					}
				}
			}
			.form-group {
				margin-bottom: 15px;
			}
			.form-control {
				background: rgba(227, 227, 227, 0.2);
				border: 1px solid rgba(#40A9FF,0);
				border-radius: 2px;
				outline: none;
				box-shadow: none;
				font-family: "Lexend Deca", sans-serif;
				font-weight: 300;
				font-size: 16px;
				line-height: 2;
				color: #ffffff;

				&:focus {
					background: rgba(64, 169, 255, 0.2);
					border: 1px solid rgba(#40A9FF,1);
				}

				&::placeholder {
					font-weight: 300;
					color: #ced4da;
				}
				&:-webkit-autofill,
				&:-webkit-autofill:hover,
				&:-webkit-autofill:focus,
				&:-webkit-autofill:active {
					border: 1px solid #687895;
					-webkit-text-fill-color: #e5e5e5 !important;
					-webkit-box-shadow: 0 0 0px 1000px #131b26 inset;
					transition: background-color 5000s ease-in-out 0s;
				}
			}
			.form-select {
				color: #ced4da;
				font-weight: 300;
				&:focus {
					background: #2d2d2d;
					color: #ffffff;
				}
			}
			.col-form-label {
				font-weight: 500;
				font-size: 16px;
				line-height: 1.3;
				color: #333333;
				@media (min-width: 576px) {
					padding-right: 5px;
					text-align: right;
				}
			}
			textarea {
				min-height: 90px;
				max-height: 200px;
			}
			.btn-submit {
				background: #7fecff;
				box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
				border-radius: 20px;
				color: #000000;
				min-width: 86px;
				border: 0;
				outline: none;
				&:hover {
					background: #122d98;
				}
			}

			.btn-main {
				font-weight: 400;
				font-size: 16px;
			}
		}
		.contact-form-border {
			border-color: #7fecff;
			border-style: solid;
		}
	}
}
/* End Form Đăng ký Area css
============================================================================================ */


/* Start Tin tức Area css
============================================================================================ */
.section-video-live-pc {
	position: relative;
	display: block;
	clear: both;
	position: relative;
	display: block;
	padding: 20px 0 30px;
	margin-bottom: 40px;
	.video-inner {
		display: block;
	}
	.video-box-title {
		position: relative;
		display: block;
		width: 100%;
		vertical-align: top;
		overflow: hidden;
		background-repeat: no-repeat;
		background-position: top left;
		background-size: cover;
		padding: 10px 0 10px;
		margin-bottom: 15px;
		.box-title-inner {
			position: relative;
			display: block;

			display: flex;
			justify-content: space-between;
			width: 100%;
			align-items: center;
		}
		.title-name {
			position: relative;
			display: inline-block;
			font-weight: 500;
			font-size: 18px;
			line-height: 1.3;
			margin-bottom: 10px;
			@media (min-width: 992px) {
				font-size: 32px;
			}
		}
		.title-sub {
			position: relative;
			display: block;
			width: 100%;
			height: auto;
			font-size: 16px;
			line-height: 1.4;
			text-align: justify;
			margin-bottom: 25px;
			overflow: hidden;
			clear: both;
			flex: 0;
			display: none;
		}
		.btn-viewmore {
			font-weight: 400;
			font-size: 16px;
			text-decoration-line: underline;
			color: #7FECFF;
		}
	}
	.video-box-content {
		position: relative;
		display: flex;
		max-width: 100%;
		margin: 0 auto;
		overflow: hidden;
		// background-color: #444;
		@media (max-width: 767px) {
			flex-direction: column;
		}
		iframe {
			max-width: 100%;
		}

		.slide-video-livestream {
			position: relative;
			display: block;
			overflow: hidden;
			width: percentage(6/10);
			@media (max-width: 767px) {
				width: 100%;
				margin-bottom: 15px;
			}
			.videoName {
				position: relative;
				display: inline-block;
				margin: 13px 0 5px;
				font-weight: bold;
				font-size: 20px;
				line-height: 1.4;
				color: #ffffff;
				text-decoration: none;
			}
			.video-livestream-info {
				font-weight: 300;
				color: #cbcbcb;
			}
			.video-description {
				font-weight: 300;
				color: #cbcbcb;
				font-size: 12px;
			}
		}
		.list-thumbnai-video {
			position: relative;
			width: percentage(4/10);
			display: flex;
			flex-direction: column;
			padding-left: 20px;
			padding-right: 8px;
			max-height: 455px;
			overflow-y: auto;
			@media (max-width: 767px) {
				width: 100%;
				padding-left: 0;
			}
			.item-video {
				position: relative;
				width: 100%;
				padding: 8px 0;
				// &:first-child {
				// 	padding-top: 0;
				// }
				&:last-child {
					padding-bottom: 0;
				}
				&.active {
					pointer-events: none;
					a.item-link {
						background: rgba(243, 243, 243, 0.2);
						backdrop-filter: blur(20px);
						border-radius: 4px;
						.video-image {
							&.icon-play {
								&:before {
									visibility: hidden;
								}
								&:after {
									content: "Đang phát";
									background-color: rgba(0, 0, 0, 0.3);
									background-image: none;
								}
							}
						}
					}
				}
				a.item-link {
					position: relative;
					display: flex;
					text-decoration: none;
					&:hover {
						background: rgba(243, 243, 243, 0.1);
					}
					.video-image {
						position: relative;
						display: block;
						width: 120px;
						height: 68px;
						overflow: hidden;
						background-color: #d9d9d9;
						border-radius: 4px;
						@media (min-width: 992px) {
							height: 75px;
						}
						&.icon-play {
							&:before {
								content: "";
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								background-color: rgba(255, 255, 255, 0.25);
								background-image: repeating-linear-gradient(
										45deg,
										rgba(0, 0, 0, 0.25),
										rgba(0, 0, 0, 0.25) 2px,
										transparent 0px,
										transparent 4px
									),
									repeating-linear-gradient(
										-45deg,
										rgba(0, 0, 0, 0.2),
										rgba(0, 0, 0, 0.2) 2px,
										transparent 0px,
										transparent 4px
									);
								filter: blur(1px);
								opacity: 0.8;
							}
							&:after {
								content: "";
								position: absolute;
								display: flex;
								justify-content: center;
								align-items: center;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								color: #fff;
								text-shadow: 0 1px 1px #636363;
								background-color: rgba(0, 0, 0, 0.3);
								background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cg class='fa-group'%3e%3cpath fill='eeeeee' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm115.7 272l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z'%3e%3c/path%3e%3cpath fill='%23aaaaaa' d='M371.7 280l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z'%3e%3c/path%3e%3c/g%3e%3c/svg%3e");
								background-repeat: no-repeat;
								background-position: center center;
								background-size: 30px 30px;
							}
						}
						img {
							object-fit: cover;
							object-position: center;
							overflow: hidden;
						}
					}
					.video-info {
						width: calc(100% - 120px);
						padding: 0 0 0 10px;
						overflow: hidden;
						display: flex;
						flex-direction: column;
					}

					.video-title {
						display: -webkit-box;
						width: 100%;
						max-height: 42px;
						padding: 4px 0 0 0;
						font-weight: 500;
						font-size: 14px;
						line-height: 1.3;
						color: #ffffff;
						overflow: hidden;
						-webkit-box-orient: vertical;
						text-overflow: ellipsis;
						-webkit-line-clamp: 2;
						@media (max-width: 991px) {
							font-size: 14px;
						}
					}
					.video-description {
						display: -webkit-box;
						font-weight: 300;
						font-size: 12px;
						color: #CBCBCB;
						overflow: hidden;
						-webkit-box-orient: vertical;
						text-overflow: ellipsis;
						-webkit-line-clamp: 2;
					}
					// .video-thumbnail-info {
					// 	font-size: 12px;
					// 	color: #CBCBCB;
					// 	padding-left: 10px;
					// }
				}
				// &__info {
				// 		display: flex;
				// 		flex-direction: column;
				// 	}
			}
		}
	}
}
/* End Tin tức Area css
============================================================================================ */
