

/* Menu Mobile Area css
============================================================================================ */
    .aside_area {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        right: auto;
        bottom: auto;
        z-index: 9;
        display: none;
        &.show {
            display: block;
        }
        .bg_drop {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(0,0,0,.6);
            backdrop-filter: blur(2px);
        }
        .nav-aside {
            position: relative;
            width: 100%;
            height: 100%;
            max-width: 575px;
            padding-top: 60px;
            background: rgba(0,0,0,.8);
            z-index: 2;
            overflow-y: auto;
            &:before {
                content: "";
                position: absolute;
                z-index: 0;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: rgba(0,0,0,.2);
                backdrop-filter: blur(4px);
            }
            >ul.list-menu-cate {
                list-style: none;
                width: 100%;
                display: block;
                padding: 15px 18px 0 18px;
                margin: 0;
                // background: var(--color-secondary-600);
                overflow-y: auto;
                >li {
                    position: relative;
                    width: 100%;
                    clear: both;
                    &:not(:last-child) {
                        border-bottom: 1px solid rgba(196, 196, 196, 0.2);
                    }
                    a {
                        position: relative;
                        display: block;
                        display: flex;
                        align-items: center;
                        padding: 20px 20px;
                        font-size: 16px;
                        color: #ffffff;
                        line-height: 1.4;
                        width: 100%;
                        padding-right: 50px;
                        text-decoration: none;
                        &:focus {
                            color: #ffffff;
                        }
                        &:hover {
                            color: #7fecff;
                        }
                        .menu-icon {
                            width: 35px;
                        }
                    }
                    .btn-toggle {
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 2;
                        background: #7fecff;
                        border-left: 0;
                        width: 50px;
                        height: 48px;
                        cursor: pointer;
                        &:before {
                            content: "";
                            position: absolute;
                            display: block;
                            top: 23px;
                            left: 15px;
                            width: 20px;
                            height: 2px;
                            background: #fff;
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            display: block;
                            top: 14px;
                            left: 24px;
                            width: 2px;
                            height: 20px;
                            background: #fff;
                        }
                        &.active {
                            &:after {
                                content: "";
                                visibility: hidden;
                            }
                        }
                    }

                    .menu-list-lv2 {
                        display: none;
                        list-style: none;
                        width: 100%;
                        padding: 0 0 0 20px;
                        border-left: 1px dashed #dddddd;
                        .btn-toggle {
                            //display: none;
                            &.active {
                                display: block;
                            }
                        }
                        &.active {
                            display: block;
                        }
                        >li {
                            position: relative;
                            border-top: 1px solid rgba(196, 196, 196, 0.2);
                        }
                    }
                }
            }

        }
    }
/* End Menu Mobile Area css
============================================================================================ */

/* Start Scroll to top Area css
============================================================================================ */
.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 150px;
    z-index: 99;
    display: flex;
    #to_top {
        position: relative;
        width: 38px;
        height: 38px;
        display: none;
        background-color: rgba(#000000,0.5);
        border-radius: 6px;
        overflow: hidden;
        // &:before {
        //     content: '';
        //     width: 38px;
        //     height: 38px;
        //     position: absolute;
        //     z-index: 1;
        //     right: 0;
        //     top: 0;
        //     background-color: rgba(#ffffff,0.2);
        //     background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='43' height='43' viewBox='0 0 43 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M26.619 36.3207C26.619 32.8548 26.6228 23.8212 26.619 19.1806C26.6209 17.6711 26.619 16.69 26.619 16.69C26.619 16.69 30.2281 16.69 32.4981 16.6919C34.7662 16.688 33.0574 14.9909 33.0574 14.9909C33.0574 14.9909 23.4443 2.23107 22.108 0.894811C21.1327 -0.0805335 20.2096 1.00705 20.2096 1.00705L8.91183 14.6638C8.91183 14.6638 7.19627 16.2787 9.056 16.2826C10.9235 16.2787 15.4238 16.2816 15.4238 16.2816C15.4238 16.2816 15.4238 17.3808 15.4257 19.0587C15.4199 23.8638 15.4219 32.6051 15.4219 36.162C15.4219 36.162 15.1722 37.1296 16.6372 37.1238C18.1079 37.1238 24.5502 37.1258 25.5991 37.1238C26.6461 37.1258 26.619 36.3207 26.619 36.3207Z' fill='white'/%3e%3c/svg%3e ");
        //     background-position: center center;
        //     background-repeat: no-repeat;
        //     background-size: 45%;
        // }
        &:before {
            content: "\f106";
            font-family: "Font Awesome 5 Pro";
            font-weight: 300;
            width: 38px;
            height: 38px;
            position: absolute;
            z-index: 1;
            right: 0;
            top: 0;
            background: rgba(227, 227, 227, 0.2);
            font-size: 24px;
            color: #7FECFF;
            text-align: center;
            backdrop-filter: blur(20px);
        }
        &:hover {
            &:before {
                background-color: rgba(#ffffff,0.4);
            }
        }
    }
}
/* End Scroll to top Area css
============================================================================================ */

// Start onload
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes "load" {
    from {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    to {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
@-webkit-keyframes "load" {
    from {
        -webkit-transform: translate(-50%,-50%) rotate(0deg);
    }
    to {
        -webkit-transform: translate(-50%,-50%) rotate(360deg);
    }
}
.load {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999999999;
    display: none;

    .loading {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 70px;
        height: 70px;
        margin: auto;
        border: 12px solid #f3f3f3;
        border-radius: 50%;
        border-top: 12px solid #d52329;
        animation: spin 2s linear infinite;
    }

    img {
        position: absolute;
        width: 100px;
        top: 50%;
        left: 50%;
        animation-name: load;
        animation-timing-function: linear;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
}

.box-loading {
    position: relative;
    display: block;
    text-align: center;
    padding: 15px 0;
    .fa {
        font-size: 24px;
    }
}
// End onload