* { 
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    display: block;
    min-width: 320px;
    font-family: 'Lexend Deca', sans-serif;
    word-break: break-word;
    word-wrap: break-word;
    // -webkit-font-smoothing: antialiased;
    // text-rendering: optimizeLegibility;
    // -ms-overflow-style: -ms-autohiding-scrollbar;
    // scroll-behavior: smooth;

    --text: var(--white);
    --background: var(--black);
    @media (max-width: 768px) {
        overflow-x: hidden;
    }

    &.light {
        --text: var(--black);
        --background: var(--white);
    }

    &.dark {
        --text: var(--white);
        --background: var(--black);
        --gradient: linear-gradient(rgba(148, 155, 193, 0.52), rgba(11, 18, 38, 0.55));
    }

    color: var(--text);
    background-color: var(--background);
}

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}
label {
    font-weight: inherit;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #d9d9d9;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #c9c9c9;
    background-color: #d9d9d9;
}
body::-webkit-scrollbar-thumb {
    background-color: #626567;
    // background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #f5f5f5;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #dbdbdb;
    background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #bcbcbc;
    // background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent);
}

::-moz-selection {
    color: #fff;
    background: #74A9EA;
}
::selection {
    color: #fff;
    background: #74A9EA;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix {
    clear: both;
}
.clearfix::before {
    content: " ";
    display: table;
}
.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}
.visibility-hidden {
    visibility: hidden;
}

// Start responsive images
img.responsive {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
img.scaledown {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
img.contain {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
img.img-responsive {
    width: 100%;
    height: 100%;
    clear: both;
    object-fit: cover;
}
img.img-initial {
    width: initial !important;
    height: initial !important;
    clear: both;
}
img.img-pixelated {
    image-rendering: pixelated;
}
img:not([src]) {
    visibility: hidden;
}
/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix() {
    img:-moz-loading {
        visibility: hidden;
    }
}
// End responsive images


.hidden {
    display: none;
}
.box {
    position: relative;
    display: block;
}
.txt-wrap {
    white-space: normal !important;
}
.txt-nowrap,
.nowrap {
    white-space: nowrap;
}
.txt-ellipsis {
    text-overflow: ellipsis;
}
.txt-ellipsis-1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.line-through {
    text-decoration: line-through;
}
.flex-auto {
    flex: auto;
}
.flex-none {
    flex: none;
}

.fullwidth {
    width: 100%;
}
.fullheight {
    width: 100%;
}
.limit100 {
    max-width: 100%;
}
.space {
    position: relative;
    display: block;
    width: 100%;
    height:0;
    clear: both;
}
.space5 {height:5px; }
.space10 {height:10px; }
.space15 {height:15px; }
.space20 {height:20px; }
.space25 {height:25px; }
.space30 {height:30px; }
.space35 {height:35px; }
.space40 {height:40px; }
.space45 {height:45px; }
.space50 {height:50px; }

.white-space-pre {
    white-space: pre !important;
}
.white-space-nowrap {
    white-space: nowrap !important;
}
.white-space-unset {
    white-space: unset !important;
}


.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    &::before {
        display: block;
        content: "";
    }
    .embed-responsive-item, embed, iframe, object, video, img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}
.embed-responsive-21by9::before {
  padding-top: 42.857143%;
}
.embed-responsive-16by9::before {
    padding-top: 56.25%;
}
.embed-responsive-4by3::before {
    padding-top: 75%;
}
.embed-responsive-1by1::before {
    padding-top: 100%;
}